name: test

on: [push, pull_request]

jobs:
  test:
    name: lint & test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install
        run: bun install     
      - name: Lint
        run: bun run lint:fix
      - name: Test
        run: bun test --coverage